{% extends 'templates/driver/base_content.html' %}


{% block page_content %}
<div class="d-grid gap-2" style="height: 20%; top-margin: 20%; bottom-margin: 20%;">
    <div class="btn btn-outline-primary" onclick="location.href={% url 'driver_shift' %}">
        <a class="text-decoration-none" href="{% url 'driver_shift' %}" style="text-decoration: none;">
            Управление сменой
        </a>
    </div>
    <div class="btn btn-outline-primary" onclick="location.href={% url 'driver_orders' %}">
        <a class="text-decoration-none" href="{% url 'driver_orders' %}" style="text-decoration: none;">
            Список заказов
        </a>
    </div>
</div>
{% endblock %}
