{% extends 'templates/taxi_admin/base_content.html' %}


{% block page_content %}
<div class="d-grid gap-2" style="height: 20%; top-margin: 20%; bottom-margin: 20%;">
    <form class="row p-3" action="{% url 'admin_orders_search' %}" method="get">
        <div class="col-3">
            <input class="form-control" type="search" name="driver_name" placeholder="Поиск заказов по водителю">
        </div>
        <div class="col-auto">
            <input class="form-control" type="search" name="city" placeholder="Поиск заказов по городу">
        </div>
        <div class="col-auto">
            <button class="btn btn-outline-primary">Применить</button>
        </div>
    </form>
    <p>Всего заказов: {{ orders_count }}</p>
        <table class="table">
            <th scope="col">Номер заказа</th>
            <th scope="col">Водитель</th>
            <th scope="col">Город</th>
            <th scope="col">Время начала заказа</th>
            <th scope="col">Время выполнения заказа</th>
            <th scope="col">Номер телефона клиента</th>
            <th scope="col">Статус заказа</th>
            <th scope="col">Оценка заказа</th>
            <th scope="col">Стоимость заказа (в руб.)</th>
            <th scope="col">Адрес посадки</th>
            <th scope="col">Адрес назначения</th>

            {% for order in orders %}
            <tr>
                <td>{{ order.order_code }}</td>
                <td>{{ order.shift_id.driver_id.fio }}</td>
                <td>{{ order.shift_id.driver_id.city }}</td>
                <td>{{ order.order_begin_date }}</td>
                <td>{{ order.order_end_date }}</td>
                <td>{{ order.client_phone_number }}</td>
                <td>{{ order.status }}</td>
                <td>
                    {% if order.mark == 0 %}
                    -
                    {% else %}
                    {{ order.mark }}
                    {% endif %}
                </td>
                <td>{{ order.cost }}</td>
                <td>{{ order.boarding_address }}</td>
                <td>{{ order.destination_address }}</td>
            </tr>
        {% endfor %}
        </table>
</div>
{% endblock %}

